a,
button {
  background-color: #97743a;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 0 20px;
  cursor: pointer;
}

a.active,
button.active {
  opacity: 0.5;
}

input[type="text"] {
  font-size: 24px;
}

a:hover,
button:hover {
  box-shadow: 0 0 10px 1px #d1b689 inset;
}

label {
  cursor: pointer;
}

.gray-back,
.App > div:nth-child(even) {
  background: #49412c;
  padding: 1rem;
  color: #b0a18e;
}

.white-back,
.App > div:nth-child(odd) {
  background: #b0a18e;
  padding: 1rem;
  color: #49412c;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row > * {
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col > * {
  margin-bottom: 2rem;
}
